@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes bounce {
    0%, 100% {
      transform: translateY(0) scale(1);
    }
    25% {
      transform: translateY(-6px) scale(0.98);
    }
    50% {
      transform: translateY(0) scale(1.02);
    }
    75% {
      transform: translateY(-3px) scale(0.99);
    }
  }
  
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .bounce-animation {
    animation: bounce 0.5s;
  }
  

  
  